body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
}

.container {
  background-color: #23424a;
}

.dataWrapper {
  color: #fff;
  padding: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  align-self: center;
  flex-grow: 1;
  /* width: 60%; */
}

.heroImageContainer img {
  width: 100%;
}

.heroContainer :first-child {
  font-size: 48px;
  margin: 0;
}

.heroContainer :nth-child(2) {
  margin-top: 0.5rem;
}

.heroContainer button {
  margin-top: 0.5rem;
  text-transform: uppercase;
  width: 30%;
  border: none;
  padding: 1rem;
  border-radius: 20px;
  background-color: #38cfd9;
  font-weight: 600;
}

.fetureContainer {
  display: flex;
  padding: 10vh;
  gap: 20px;
  font-size: 21px;
}

.fetureContainer .feture {
  text-align: center;
}
.fetureContainer .feture > h2 {
  color: #87629a;
}

.subFeatureContainer {
  padding: 0 10vh;
  background-color: #136c72;
  color: #fff;
  font-size: 21px;
  display: flex;
  padding: 10vh;
}

.subFeatureContainer .subFeture {
  text-align: center;
}
